{% comment %}New initial code template{% endcomment %}
{% block env %}import assert from "assert";{% endblock env %}

{% block start %}
function stockProfit(stock: number[]): number {
    // your code here
    return 0;
}
{% endblock start %}

{% block example %}
console.log('Example:');
console.log(stockProfit([3, 1, 3, 4, 5, 1]));
{% endblock %}

// These "asserts" are used for self-checking
{% block tests %}
{% for t in tests %}
assert.strictEqual({% block call %}stockProfit({{t.input|j_args}})
{% endblock %}, {% block result %}{{t.answer|j}}{% endblock %});{% endfor %}
{% endblock %}

{% block final %}
console.log("Coding complete? Click 'Check' to earn cool rewards!");
{% endblock final %}
