<!-- Describe task in general -->
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}stock.png" alt="example" style="max-height: 300px"/>
</p>
<div class="story">
<p style="text-align: justify;">
    Ти брокер на фондовій біржі. Вирішив зробити лише одну повну операцію: придбати акцію та продати її пізніше, щоб отримати прибуток.
</p>
</div>
<p style="text-align: justify;">
    Твоя функція повинна повернути цей максимально можливий прибуток для переданних коливаннях ціни. Якщо неможливо отримати прибуток із заданими цінами (він <= 0), твоя функція повинна повернути 0.
</p>
<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Ціна акції як {% if is_js %}масив{% else %}список{% endif %} цілих чисел.
</p>
<p>
    <strong>Вихідні дані:</strong> Максимально можливий прибуток як ціле число.
</p>
<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Передумови:</strong>
    <ul>
        <li><i>len(stock) > 1;</i></li>
        <li><i>0 <= ціна <= 1000.</i></li>
    </ul>
</p>
