<!-- Describe task in general -->
<p>
    Ти брокер на фондовій біржі. Вирішив зробити лише одну повну операцію: придбати акцію та продати її пізніше, щоб отримати прибуток. "Коротка позиція" (спочатку продати, потім викупити) на цьому ринку заборонена.
</p>
<p>
    Ціни купівлі та продажу у кожен конкретний момент однакові (у кожен момент ти можеш купити акцію за ціною <b class="code">x</b> або продати наявну акцію за цією ж ціною <b class="code">x</b>) і показані в даному {% if is_js %}масиві{% else %}списку{% endif %} <b class="code">stock</b>.
</p>
<p>
    Отже, ти повинен обрати найкращі ціни на придбання акції та її пізнішого продажу, щоб отримати максимальний прибуток від операції. Твоя функція повинна повернути цей максимально можливий прибуток. Якщо неможливо отримати прибуток із заданими цінами (він <= 0), твоя функція повинна повернути 0.
</p>
<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Ціна акції як {% if is_js %}масив{% else %}список{% endif %} цілих чисел.
</p>
<p>
    <strong>Вихідні дані:</strong> Максимально можливий прибуток як ціле число.
</p>
<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Передумови:</strong>
    <ul>
        <li><i>len(stock) > 1;</i></li>
        <li><i>0 <= ціна <= 1000.</i></li>
    </ul>
</p>
