<!-- Describe task in general -->
<div class="story">
<p>
    En tant que courtier en bourse se concentrant sur une seule transaction, vous cherchez à maximiser votre profit en achetant une action à un prix inférieur et en la revendant plus tard à un prix supérieur au cours d'une période donnée.
</p>
</div>
<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>

<p style="text-align: justify;">
    Votre fonction doit analyser les fluctuations de prix de l'action au fil du temps. Elle doit identifier l'opportunité la plus rentable en calculant le bénéfice potentiel maximal réalisable dans le cadre de ces fluctuations. Cela signifie qu'il faut trouver le prix le plus élevé pour vendre l'action après l'avoir achetée au prix le plus bas possible.
</p>
<p style="text-align: justify;">
    Toutefois, s'il n'y a aucune possibilité de réaliser un bénéfice, par exemple lorsque le prix de l'action diminue constamment ou reste inchangé, la fonction doit renvoyer zéro, ce qui indique qu'il n'y a pas d'opportunité viable pour une transaction rentable.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}stock-exchange-image2.svg" alt="example" style="max-height: 250px"/>
</p>
<!-- Explain input and output values -->
<p>
   <strong>Données d'entrée:</strong> Prix des actions sous forme de {% if is_js %}tableau{% else %}liste{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> d'entiers <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>
<p>
   <strong>Résultat:</strong> Bénéfice maximal possible sous forme d'un nombre entier <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>
<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Conditions préalables:</strong>
    <ul>
        <li><i>len(stock) &gt; 1;</i></li>
        <li><i>0 &lt;= prix &lt;= 1000.</i></li>
    </ul>
</p>
