<!-- Describe task in general -->
<div class="story">
<p>
    You are a broker on the stock exchange. You've decided to make just one complete operation: to buy a stock and sell it later to make a profit.
</p>
</div>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}buy_sell.png" alt="example" style="max-height: 300px; max-width: 100%;"/>
</p>

<p>
    Your function must return this maximum possible profit for given price fluctuations. If it's not possible to make any profit with given prices (it's <= 0), your function should return 0.
</p>
<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Stock prices as {% if is_js %}array of Numbers{% else %}list of integers{% endif %}.
</p>
<p>
    <strong>Output:</strong> Maximum possible profit as {% if is_js %}Number{% else %}integer{% endif %}.
</p>
<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Preconditions:</strong>
    <ul>
        <li><i>len(stock) > 1;</i></li>
        <li><i>0 <= price <= 1000.</i></li>
    </ul>
</p>
