<!-- Describe task in general -->
<div class="story">
<p>
    Als Börsenmakler, der sich auf eine einzelne Transaktion konzentriert, versuchen Sie, Ihren Gewinn zu maximieren, indem Sie eine Aktie zu einem niedrigeren Preis kaufen und sie später zu einem höheren Preis innerhalb eines bestimmten Zeitraums verkaufen.
</p>
</div>
<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>

<p style="text-align: justify;">
    Ihre Funktion muss die Kursschwankungen der Aktie im Laufe der Zeit analysieren. Sie sollte die profitabelste Gelegenheit ermitteln, indem sie den maximal möglichen Gewinn berechnet, der innerhalb dieser Schwankungen erzielt werden kann. Das bedeutet, dass Sie den höchsten Preis finden müssen, zu dem Sie die Aktie verkaufen können, nachdem Sie sie zum niedrigstmöglichen Preis gekauft haben.
</p>
<p style="text-align: justify;">
    Wenn es jedoch keine Möglichkeit gibt, einen Gewinn zu erzielen - z.B. wenn der Aktienkurs konstant fällt oder gleich bleibt - sollte die Funktion den Wert Null zurückgeben, was bedeutet, dass es keine realistische Möglichkeit für eine profitable Transaktion gibt.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}stock-exchange-image2.svg" alt="example" style="max-height: 250px"/>
</p>
<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Aktienkurse als {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> von ganzen Zahlen <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>
<p>
   <strong>Ausgabe:</strong> Maximal möglicher Gewinn als ganze Zahl <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>
<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Vorbedingungen:</strong>
    <ul>
        <li><i>len(Aktie) &gt; 1;</i></li>
        <li><i>0 &lt;= Preis &lt;= 1000.</i></li>
    </ul>
</p>
