<!-- Describe task in general -->
<div class="story">
<p>
    Jako makler giełdowy skupiający się na pojedynczej transakcji, dąży Pan/Pani do maksymalizacji zysku poprzez zakup akcji po niższej cenie i ich późniejszą sprzedaż po wyższej cenie w danym okresie.
</p>
</div>
<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>

<p style="text-align: justify;">
    Państwa funkcja musi analizować wahania cen akcji w czasie. Powinna ona zidentyfikować najbardziej opłacalną okazję, obliczając maksymalny potencjalny zysk możliwy do osiągnięcia w ramach tych wahań. Oznacza to znalezienie najwyższej ceny sprzedaży akcji po ich zakupie po najniższej możliwej cenie.
</p>
<p style="text-align: justify;">
    Jeśli jednak nie ma możliwości osiągnięcia zysku - na przykład gdy cena akcji konsekwentnie spada lub pozostaje taka sama - funkcja powinna zwracać zero, wskazując, że nie ma realnej możliwości zawarcia zyskownej transakcji.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}stock-exchange-image2.svg" alt="example" style="max-height: 250px"/>
</p>
<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> Ceny akcji jako tablica {% if is_js %}{% else %} lista{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> liczb całkowitych <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>
<p>
   <strong>Wynik:</strong> Maksymalny możliwy zysk jako liczba całkowita <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>
<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Warunki wstępne:</strong>
    <ul>
        <li><i>len(stock) &gt; 1;</i></li>
        <li><i>0 &lt;= cena &lt;= 1000.</i></li>
    </ul>
</p>
